
h1.bold
  {font-family: fantasy;
  font-weight: 1000;
  font-size: 100;
  text-shadow: 2px 2px black;
  color: white}

p.subline1
    {font-family: sans-serif;
    font-weight: 800;
    font-size: 20;
    text-shadow: 2px 2px black;
    color: white}

p.subline2
    {font-family: inherit;
    font-weight: 600;
    text-shadow: 2px 2px black;
    color: white}

li.nav-item
    {font-family:fantasy;
      font-size: 30;
      }

a.btn-primary {background-color: grey;
              border-color: white}
